.head {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.112);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #B45309;
    color: #f8f8f8;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #F59E0B;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.112);
}